---
import { getCollection } from "astro:content";
import Layout from "../../layouts/base/base.astro";
import Card from "../../components/list-item-project-card.astro";

const entries = await getCollection("project");
const title = "Sujeet's Projects";
---

<Layout title="Sujeet's Projects">
  <main>
    <h1 class="text-5xl text-center my-8">{title}</h1>
    <ul class="max-w-prose mx-auto divide-y-2">
      {entries.map((entry) => <Card entry={entry} />)}
    </ul>
  </main>
</Layout>
