---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";
import "./base.css";
import Seo, { Props as SeoProps } from "../../components/seo.astro";

export type Props = SeoProps;
const { ...seoProps } = Astro.props as Props;
---

<html lang="en-IN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/favicons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/favicons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/favicons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/favicons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/favicons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/favicons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/favicons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/favicons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/favicons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicons/manifest.json" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="msapplication-TileColor" content="#e4e7eb" />
    <meta name="theme-color" content="#e4e7eb" />
    <Seo {...seoProps} />
    <script is:inline>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      const isDark =
        localStorage.getItem("theme") === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches);
      if (isDark) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class:list={[
      "min-h-screen overflow-x-hidden flex flex-col",
      "bg-slate-50 dark:bg-slate-900",
      "text-slate-700 dark:text-slate-300",
    ]}
  >
    <Header
      class="bg-slate-50 dark:bg-slate-900 shadow-slate-50 dark:shadow-slate-900"
    />
    <div class="flex-auto lg:container mx-auto p-2 my-6">
      <slot />
    </div>
    <Footer />
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1Z2TP5LG65"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1Z2TP5LG65");
    </script>
  </body>
</html>
