---
import type { ImageMetadata } from "astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

type Props = {
  title: string;
  description: string;
  href: string;
  isDraft: boolean | undefined;
  iconName?: string | undefined | null;
  thumbnail?:
    | ImageMetadata
    | (Omit<ImageMetadata, "format"> & { format: string })
    | null
    | undefined;
};

const { title, description, iconName, thumbnail, href, isDraft } =
  Astro.props as Props;
---

<li
  class:list={[
    "relative hover:shadow-lg shadow-slate-100 dark:shadow-slate-800 rounded p-4 flex gap-4",
    { "display-none": isDraft },
  ]}
>
  {
    thumbnail ? (
      <Image
        src={thumbnail as ImageMetadata}
        alt=""
        role="presentation"
        class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28"
      />
    ) : null
  }
  {
    iconName ? (
      <Icon name={iconName} class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28" />
    ) : null
  }
  <div class="flex-auto flex flex-col gap-2">
    <a
      href={href}
      class="after:absolute after:left-0 after:right-0 after:top-0 after:bottom-0 text-xl"
    >
      {title}
    </a>
    <p>{description}</p>
    <slot />
  </div>
</li>
