---
import { home, blog } from "../constants/links";
import Link from "./link.astro";

export type Props = {
  navType: "home" | "project" | "blog";
};

const { navType } = Astro.props as Props;
const linkConfig = [
  {
    link: home,
    isCurrent: navType === "home",
  },
  {
    link: blog,
    isCurrent: navType === "blog",
  },
];
---

<header class="bg-gray-200 shadow">
  <nav>
    <ul class="flex gap-x-2.5 py-4 px-4">
      {
        linkConfig.map(({ link }) => (
          <li>
            <Link
              isExternal={link.isExternal}
              href={link.href}
              class:list="p-2 hover:shadow-xl"
            >
              {link.text}
            </Link>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
