---
export type Props = {
  navType: "home" | "project" | "blog";
};

const { navType } = Astro.props as Props;
---

<header>
  <nav>
    <ul>
      <li>
        <a href="/" aria-current={navType === "home" && "page"}>Home</a>
        <a href="/project" aria-current={navType === "project" && "page"}
          >Project</a
        >
        <a href="/blog" aria-current={navType === "blog" && "page"}>Blog</a>
      </li>
    </ul>
  </nav>
</header>
