---
export type Props = {
  href: string;
  isExternal?: boolean | undefined | null;
  class?: string;
};

const { href, isExternal, class: className } = Astro.props as Props;
const isCurrent = href === Astro.url.href || href === Astro.url.pathname;
const extraProps = isExternal
  ? {
      target: "_blank",
      rel: "noopener noreferrer",
    }
  : {};
console.log(Astro.url.href);
---

<a
  href={href}
  aria-current={isCurrent ? "page" : undefined}
  class:list={[className, { "font-bold": isCurrent }]}
  {...extraProps}
>
  <slot />
</a>
