---
import type { LinkConfig } from "../constants/links";
export type Props = LinkConfig & { class?: string };
const {
  text,
  href,
  isExternal,
  class: className,
  ...otherProps
} = Astro.props as Props;
const extraProps =
  href.startsWith("http://") || isExternal
    ? {
        target: "_blank",
        rel: "noopener noreferrer",
      }
    : {};
---

<a href={href} class={className} {...extraProps} {...otherProps}>
  {text}
</a>
