---
import Link from "../../components/link.astro";
import { maxWidthContainer } from "../../constants/classnames";
import {
  socialInstagram,
  socialLinkedIn,
  socialMastodon,
  socialTwitter,
  communityHashedNode,
  communityDevTo,
  communityMedium,
  communityGithub,
  communityStackoverflow,
  notesJS,
  notesLeadership,
  notesWeb,
  cv,
  // siteHome,
  // siteBlog,
  siteFaq,
  siteMap,
  siteProfile,
  siteProjects,
  siteSkills,
  siteTopic,
} from "../../constants/links";

const currentYear = new Date().getFullYear();
const allLinks = [
  {
    category: "Social",
    links: [socialLinkedIn, socialTwitter, socialInstagram, socialMastodon],
  },
  {
    category: "Community",
    links: [
      communityHashedNode,
      communityDevTo,
      communityMedium,
      communityGithub,
      communityStackoverflow,
    ],
  },
  {
    category: "Notes",
    links: [notesWeb, notesLeadership, notesJS, cv],
  },
  {
    category: "Site",
    links: [
      // siteHome,
      // siteBlog,
      siteFaq,
      siteProfile,
      siteProjects,
      siteSkills,
      siteTopic,
      siteMap,
    ],
  },
];
---

<footer class="border-t border-slate-300 dark:border-slate-600 px-2 py-6">
  <nav
    class:list={[
      "flex flex-col sm:flex-row justify-between divider-x-2",
      maxWidthContainer,
    ]}
  >
    {
      allLinks.map(({ category, links }) => (
        <ul>
          <li class="font-bold mb-2">{category}</li>
          {links.map((link) => (
            <li>
              <Link block class="py-3" skin="default" config={link} />
            </li>
          ))}
        </ul>
      ))
    }
  </nav>
  <p class="text-center mt-6">&copy; {currentYear} Sujeet Jaiswal</p>
</footer>
