---
import Layout, { Props as BaseLayoutProps } from "./base/base.astro";
type Props = Omit<BaseLayoutProps, "navType">;

const { title } = Astro.props as Props;
---

<Layout title={title} navType="blog">
  <main class="mx-auto max-w-screen-md">
    <slot />
  </main>
</Layout>
