---
import Layout, { Props as BaseLayoutProps } from "./base/base.astro";
type Props = Omit<BaseLayoutProps, "navType">;

const { title } = Astro.props as Props;
---

<Layout title={title} navType="blog">
  <main>
    <h1 class="text-5xl">{title}</h1>
    <slot />
  </main>
</Layout>
