---
import Layout, { Props as BaseLayoutProps } from "./base/base.astro";
type Props = Omit<BaseLayoutProps, "navType">;

const { title } = Astro.props as Props;
---

<Layout title={title} navType="home">
  <main>
    <slot />
  </main>
</Layout>

<script
  is:inline
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script>
  declare global {
    interface Window {
      netlifyIdentity: {
        on(type: string, cb: (user: any) => void): void;
      };
    }
  }
  if (
    window.netlifyIdentity &&
    typeof window.netlifyIdentity.on === "function"
  ) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
