---
import Layout, { Props as BaseLayoutProps } from "./base/base.astro";
type Props = Omit<BaseLayoutProps, "navType">;

const { title } = Astro.props as Props;
---

<Layout title={title} navType="project">
  <main class="mx-auto max-w-screen-md">
    <h1 class="text-5xl text-center my-6">{title}</h1>
    <slot />
  </main>
</Layout>
